$background-color: #78bdd9;
$background-square-color-dark: #BF6980;
$background-square-color-light: #F2AEC7;
$shadow-color: #365B73;

body {
    font-family: poppins;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    overflow: hidden;
    height: 90%;
}

img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

button {
    position: absolute;
    top: 0;
    font-size: 25px;
}

.pink-square {
    // background-image: linear-gradient(to bottom right, $background-square-color-light, $background-square-color-dark);
    position: absolute;
    border-radius: 8px;
    z-index: -1;
    // box-shadow: 6px 6px 12px rgba($shadow-color, .6);
}

.small {
    height: 60px;
    width: 60px;
    top: 3.6%;
    left: 11%;
}

.medium {
    height: 130px;
    width: 130px;
    top: 22%;
    left: 28%;
}

.large {
    height: 450px;
    width: 450px;
    right: -40%;
    bottom: -40%;
}

// LAYOUT

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.header {
    text-align: center;
}

li {

    margin-top: 5px;
    font-weight: 500;
}


// TYPOGRAPHY

h1 {
    letter-spacing: 4px;
    margin-bottom: 0;
    margin-top: 0;
}

h2 {
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 5px;
}



p {
    font-weight: 600;
}

strong {
    font-weight: 900;
}